.header {
    position: sticky;
    top: 0;
    padding: 15px 20px;
    background-color: gray;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
    outline: solid black;
}

h1 {
    font-size: 40px;
}

.list-top {
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 20px;
    text-align: left;
}

.list-bot {
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-align: left;
}

#top {
    background-color: rgb(126, 243, 243);
}

#bot {
    background-color: rgb(126, 243, 243);
}

img {
    height: 300px;
}

video {
    margin: 20px;
}

h2 {
    border: dashed;
    padding: 20px;
    text-align: center;
}

.games-pic {
    text-align: center;
}

.hockey-pic {
    text-align: center;
}

.first {
    border: solid;
    display: inline-block;
}

.first-pic {
    text-align: center;
}

.first-pic img{
    height: 200px;
}

h4 {
    font-size: 20px;
}

.second {
    border: solid;
    text-align: left;
}

.second-pic {
    text-align: center;
}

.second-pic img {
    height: 200px;
}

html {
    background-color: rgb(80, 255, 118);
}

h2 {
    background-color: gold;
}

main {
    background-color: rgb(0, 255, 242);
    padding: 80px, 20px, 100px;
    unicode-bidi: isolate;
    height: 100%;
    box-shadow: 0 0 12px -2px black;
}

.container {
    display: flex;
    border: solid;
}