.header {
    position: sticky;
    top: 0;
    padding: 15px 20px;
    background-color: gray;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
    outline: solid black;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.list-top {
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 20px;
    text-align: left;
    max-width: 50%;
}

.list-bot {
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-align: left;
    max-width: 50%;
}

#top {
    background-color: rgb(126, 243, 243);
}

#bot {
    background-color: rgb(126, 243, 243);
}

img {
    height: 300px;
    margin: 20px;
}

video {
    margin: 20px;
}

h2 {
    border: dashed;
    padding: 20px;
    text-align: center;
}

p {
    margin: 10px;
}

.games-pic {
    text-align: center;
}

.hockey-pic {
    text-align: center;
}

.first {
    border: solid;
    display: inline-block;
}

.first-pic {
    text-align: center;
}

.first-pic img{
    height: 200px;
}

h4 {
    font-size: 20px;
}

.second {
    border: solid;
    text-align: left;
}

.second-pic {
    text-align: center;
}

.second-pic img {
    height: 200px;
}

html {
    background-image: linear-gradient(to right, rgb(0, 102, 255), skyblue, rgb(0, 102, 255))
}

h2 {
    background-color: gold;
}

h2:hover {
    background-color: chartreuse;
}

main {
    margin: 10px 100px;
    background-color: rgb(0, 255, 242);
    padding: 80px, 20px, 100px;
    unicode-bidi: isolate;
    min-height: 100vh;
    box-shadow: 0 0 12px 2px black;
    border: solid;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    border: solid;
}

@media(max-width: 650px) {
    img {
        height: 100px;
        width: 200px;
    }
    video {
        height: 100px;
        width: 200px;
    }
}

@media(max-width: 950px) {
    img {
        height: 200px;
        width: 200px;
    }
    video {
        height: 200px;
        width: 200px;
    }
    .container {
        display: flex;
        flex-flow: row wrap;
    }
}

form {
    margin: 10px;
    font-size: 20px;
}